@model GiaCam.Models.LoaiSanPham

@{
    ViewBag.Title = "DeleteLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 65px">Xóa loại sản phẩm</h2>

<h3>Có muốn xóa thiệt hông?</h3>
<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "LoaiSanPham")
        </div>
    }
</div>
