@model GiaCam.Models.LoaiSanPham

@{
    ViewBag.Title = "DetailLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top: 65px">Chi tiết loại sản phẩm</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt>
            Tên loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "EditLoai", new { id = Model.MaLoai }) |
    @Html.ActionLink("Quay lại", "LoaiSanPham")
</p>
