@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>DinoGoose</h1>
        <p class="lead">DinoGoose là một chuỗi cửa hàng luôn đem đến dịch vụ tốt nhất cho người dùng.</p>
    </div>
</div>

